<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.code.mapper.MessageMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.code.entity.Message">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userid" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="visiable" jdbcType="BIT" property="visiable" />
  </resultMap>
</mapper>